@using Microsoft.AspNetCore.Mvc.TagHelpers
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco13Playground.Web.Models.FilterViewModel>
@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<title>Filter Page</title>
</head>
<body>

	@if (Model.Items == null)
	{
		<h1>Filter Page</h1>
		@await Html.PartialAsync("Partials/FilterForm")

	}
	else
	{
		<!-- Results -->
		<h2>Results:</h2>
		<ul>
			@foreach (var item in Model.Items)
			{
				<li>
					<a href="?slug=@(item.Slug)">
						@item.Name
					</a>
				</li>
			}
		</ul>

		<!-- Pagination -->
		@if (Model.TotalPages > 1)
		{
			<div class="pagination">
				@for (var i = 1; i <= Model.TotalPages; i++)
				{
					<form method="post">
						<input asp-for="Filter" value="@Model.Filter" type="hidden"/>
						<input asp-for="CurrentPage" value="@i" type="hidden"/>
						
						<button type="submit" class="@(i == Model.CurrentPage ? "active" : "")">@i</button>
					</form>
				}
			</div>
		}
	}

</body>
</html>